<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="aqua">
    <h1>首页</h1>
    <h3><a th:href="@{/view}"> 去测试view视图</a></h3>
    <h3><a th:href="@{/userIndex}"> 去测试user RESTFul</a></h3>
    <h4><a th:href="@{/testServletAPI}">测试servlet原生api</a></h4>
    <h4><a th:href="@{/testModelAndView}">测试ModelAndView原生初体验</a></h4>
    <h4><a th:href="@{/testModel}">测试Model原生初体验</a></h4>
    <h4><a th:href="@{/testMap}">测试Map原生初体验</a></h4>
    <h4><a th:href="@{/testModelMap}">测试ModelMap原生初体验</a></h4>
    <h4><a th:href="@{/testSession}">测试Session</a></h4>
    <h4><a th:href="@{/testApplication}">测试Application (ServletContext)</a></h4>
</body>
</html>